<a href="https://colab.research.google.com/github/bc330269/BBAAIML/blob/main/F%20of%20AI%20%26%20ML(Assignment-1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=10
if x<10:
  print('Smaller')
if x>20:
  print('Bigger')
print('Finish')

Finish

In [7]:
x=11
if x<=10:
  print("Smaller")
elif x>10 and x<=19:
  print("Neutral")
else:
  print("Bigger")

Neutral

In [25]:
Age =int(input("Please enter your Age: "))
if (Age>=20 and Age<=30):
  print("Ticket price is Rs 100/-")
elif (Age>30 and Age<=40):
  print("Ticket price is Rs 150/-")
elif (Age>40 and Age<=50):
  print("Ticket price is Rs 200/-")
elif Age>50:
  print("Ticket price is Rs 250/-")
else:
  print("You're not eligible to buy a ticket")

Please enter your Age: 42
Ticket price is Rs 200/-

In [40]:
Age =int(input("Please enter your Age: "))
if (Age>=20 and Age<=30):
  print("Ticket price is Rs 100/-")
elif (Age>30 and Age<=40):
  print("Ticket price is Rs 150/-")
elif (Age>40 and Age<=50):
  print("Ticket price is Rs 200/-")
elif Age>50:
  print("Ticket price is Rs 250/-")
else:
  print("You're not eligible to buy a ticket")

Please enter your Age: 42
Ticket price is Rs 200/-

Abhisek Nayak11:35 AM
IF Statement Exercise: 

Assign 8 to the variable x and 15 to the variable y.

In the same cell, create 2 conditional statements.

Let the first one print "At least one of the conditions is satisfied." if x is greater than 3 or y is even.

Let the second one print "Neither condition is satisfied." if x is less than or equal to 3 and y is odd.

Change the values assigned to x and y and re-run the cell to verify your code still works.
Write an if statement that asks for the user's name via input() function. 
If the name is "Bond" make it print "Welcome on board 007." 
Otherwise make it print "Good morning NAME". (Replace Name with user's name)
2.Write an if statement that asks for the user's name via input() function. 
If the name is "Bond" make it print "Welcome on board 007." 
Otherwise make it print "Good morning NAME". (Replace Name with user's name)
1.IF Statement Exercise: 

Assign 8 to the variable x and 15 to the variable y.

In the same cell, create 2 conditional statements.

Let the first one print "At least one of the conditions is satisfied." if x is greater than 3 or y is even.

Let the second one print "Neither condition is satisfied." if x is less than or equal to 3 and y is odd.

Change the values assigned to x and y and re-run the cell to verify your code still works

In [20]:
x=4
y=12
if x>3 or y%2==0:
  print("Atlest one of the condition id satisfied")
if x<=3 and y%3==0:
    print("Neither contion is satisfied")

Atlest one of the condition id satisfied

In [3]:
x=input("First Name: ")
y=input("Last Name: ")
if y=="Bond":
  print("Welcome on board 007.")
else:
  print("Good morning "+x+y)

First Name: Bharath
Last Name: Chandra
Good morning Bharath Chandra

In [24]:
x=input("Name: ")
if x=="Shaktiman":
  print("Sorry " +x)
else:
  print("Good Morning "+x)

Name: Bharath
Good Morning Bharath